/* Projects.css */
.projects-container {
    text-align: center;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding-top: 25px;
  }

  .projects-container h1{
    margin-bottom: 65px;
  }
  
  .project-image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .project-image {
    border-radius: 8px;
    width: 300px; /* O'zingizga kerakli o'lchamni kiriting */
    height: auto;
    transition: opacity 0.3s ease;
  }
  
  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .project-image-container:hover .hover-overlay {
    opacity: 1;
  }
  
  .hover-text {
    color: white;
    font-size: 2rem;
  }

  .project-image-container img{
    width: 350px;
    height: 340px;

  }
.projects-blocks{
    margin: 0 auto;
    width: 60%;
    display: flex;
    gap: 90px;
    text-align: left;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.projects-blocks p{
    width: 300px;
}

.projects-blocks h1{
    text-align: left;
    margin-bottom: 35px;
    margin-top: 75px;
}

.projects-blocks h3{
    text-align: left;
    margin-bottom: 35px;
}