* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bar{
    display: none;
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    width: 100%;
    padding-right: 10px;
    /* kenglik 365px */
}

a {
    text-decoration: none;
}

.header-menu {
    display: flex;
    gap: 25px;
}

.header-menu p {
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.resume button {
    background-color: black;
    padding: 10px 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.dropbtn {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn  img{
    width: 40px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



@media (max-width: 480px) {

    .header-menu,
    .resume {
        display: none;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 80px;
    }

    .dropdown-content a{
        font-size: 12px;
    }

    .bar{
        display: block;
    }

    .header-menu p {
        font-size: 14px;
    }

    .resume button {
        padding: 8px 0;
        font-size: 14px;
    }
}