.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.hero-right img {
    width: 700px;
}
.hero-links {
    margin-top: 120px;
    display: flex;
    margin-left: 70px;
    gap: 15px;
    align-items: center;
}

.hero-left h1 {
    width: 400px;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 1.7px;
}

.hero-left p {
    width: 495px;
    margin-top: 25px;
    margin-bottom: 70px;
    font-family: sans-serif;
    font-size: 16px;
}

.hero-left span {
    font-weight: 700;
}

.hero-links button{
    background-color: white;
    width: 50px;
    height: 46px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}